.fim{
display: flex;
flex-wrap: wrap;
width: 90%;
background-color: white;
height: 40px;
align-content: center;
justify-content: center;
text-align: center;

}

.fim span {
    
    color: #666666;
    font-size: 14px;
    font-style: initial;
    padding-left: 50px;
    
}