.fim{
background-color: white;
height: 40px;
text-align: center;
}

.copy {
    
    color: #666666;
    background-color: #ffffff;
    font-size: 14px;
    font-style: initial;
    text-align: center;
    justify-content: center;
    align-items:center;
}